@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
body{
  font-family: 'Lora', serif;
}
.labelFile{
  background-color: #e45bafcc;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 0;
}

.labelFile:hover{
  background-color: #eb1298e7;
  box-shadow: 2px 3px 5px #ccc;
}

.textFile{
  margin-left: 8px;
}

.wrapFile{
  box-shadow: 1px 1px 2px rgb(35, 184, 214);
  border: 1px solid rgb(35, 184, 214);
  padding:5px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#submit-button:disabled{
  cursor:not-allowed;
  opacity: 0.5;
}

.selected{
  background-color: rgba(19, 224, 231, 0.993) ;
  color: black;
}


 .nav-link{
  transition: 0.3s;
  border-radius: 5px;
} 
 .nav-link{
  border: none;
  /* color: white; */
}
.nav-link:hover{
  background-color: #eb115a;
  color: white;
} 

.btnbackground{
  background-color: #8d0e0e;
  color: white;
}

.btnbackground:hover{
  background-color: #ca1e1e;
  color: white;
}

.showPathToView{
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(11, 14, 24);
  color: white;
  border-radius: 5px;
  box-shadow:1px 2px 2px #ccc;
}
